// SPDX-License-Identifier: GPL-2.0-or-later OR BSD-3-Clause
/*
 * Copyright (C) STMicroelectronics 2021 - All Rights Reserved
 */

#include "stm32mp13-u-boot.dtsi"

/ {
	aliases {
		mmc0 = &sdmmc1;
		usb0 = &usbotg_hs;
	};

	config {
		u-boot,mmc-env-partition = "u-boot-env";
		st,adc_usb_pd = <&adc1 6>, <&adc1 12>;
	};

	chosen {
		#address-cells = <1>;
		#size-cells = <1>;
		ranges;
		stdout-path = "serial0:115200n8";

		framebuffer {
			compatible = "simple-framebuffer";
			clocks = <&rcc LTDC_PX>;
			status = "okay";
		};
	};

	/*LCD Panel*/
	panel_ltdc_rgb: panel_ltdc_rgb {
		compatible = "panel-simple";
		status = "okay";
		power-supply = <&v3v3_ao>;
		backlight = <&panel_backlight>;
		data-mapping = "rgb888";
		bits-per-color = <8>;
		display-timings {
			native-mode = <&timing0>;
			timing0: timing0 {
				clock-frequency = <65000000>;
				hactive = <1024>;
				vactive = <768>;
				hfront-porch = <24>;
				hback-porch  = <160>;
				hsync-len    = <136>;
				vfront-porch = <3>;
				vback-porch  = <29>;
				vsync-len    = <6>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active    = <1>;
				pixelclk-active = <1>;
			};
		};
		port {
			panel_in_rgb: endpoint {
				remote-endpoint = <&ltdc_out_rgb>;
			};
		};
	};

	panel_backlight: backlight {
		compatible = "gpio-backlight";
		gpios = <&gpioa 11 GPIO_ACTIVE_HIGH>;
		default-on;
		status = "okay";
	};
};

/* 确保 GPIOA 控制器本身在早期阶段可用 */
&gpioa {
	u-boot,dm-pre-reloc;
};

&adc_1 {
	status = "okay";
};

&uart4 {
	u-boot,dm-pre-reloc;
};

&uart4_pins_a {
	u-boot,dm-pre-reloc;
	pins1 {
		u-boot,dm-pre-reloc;
	};
	pins2 {
		u-boot,dm-pre-reloc;
	};
};

&ltdc {
	status = "okay";
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&ltdc_pins_a>;
	pinctrl-1 = <&ltdc_sleep_pins_a>;
	port {
		ltdc_out_rgb: endpoint {
			remote-endpoint = <&panel_in_rgb>;
		};
	};
};
